extends: default.liquid
---


<div class="images">
<h2>Asteroids example game</h2>
<p>
<img src="/assets/astroblasto.png" alt="Asteroids example game" />
</p>
</div>


<div class="images">
<h2>Truetype font rendering</h2>
<p>
<img src="/assets/rusttype.png" alt="Truetype font rundering" />
</p>

<h2>Tiled map rendering</h2>
<p>
<img src="/assets/tilemap.png" alt="Tiled game map" />
</p>
</div>