<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>ggez: Rust game thing</title>

        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github&#45;fork&#45;ribbon&#45;css/0.2.0/gh&#45;fork&#45;ribbon.min.css" /> -->
        <link rel="stylesheet" href="{{ get_url(path="site.css") }}">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <!-- <a class="github&#45;fork&#45;ribbon" href="https://github.com/ggez/ggez" title="Fork me on GitHub">Fork me on GitHub</a> -->
        <div class="container">
            <header>
                <a id="logo" href="/"></a>
            </header>
            <nav>
                <ul>
                    <li><a href="{{ get_url(path="./guide/_index.md") }}">Guide</a></li>
                    <li><a href="https://docs.rs/ggez/">API</a></li>
                    <li><a href="https://github.com/ggez/ggez/">Code</a></li>
                </ul>
            </nav>
        </div>

        {% block content %}
        <main>
            <div class="banner">
                <h1>A Rust library to create Good Games Easily</h1>

                <p>ggez is a lightweight game framework for making
                    2D games with minimum friction.</p>

                <a class="button" href="{{ get_url(path="./guide/_index.md") }}">Get Started</a>
                <a class="button alternate-colors" href="https://github.com/ggez/ggez/tree/master/examples">See Examples</a>
            </div>

            <section class="alternate-colors">
                <div class="container">
                    <div class="feature">
                        <h2>Proven Interface</h2>
                        <p>It aims to implement an API based on the
                            <a href="https://love2d.org/">LÖVE</a> game framework.
                        </p>
                    </div>
                    <div class="feature">
                        <h2>Batteries Included</h2>
                        <p>2D drawing, sound, resource loading, event handling, and more!
                        </p>
                    </div>
                    <div class="feature">
                        <h2>Uncomplicated</h2>
                        <p>Just do the thing you wanted to do. Simple
                            things should be easy.</p>
                    </div>
                    <div class="feature">
                        <h2>lol</h2>
                        <p>blalbhablahs</p>
                    </div>
                    <div class="feature">
                        <h2>lol</h2>
                        <p>blalbhablahs</p>
                    </div>
                    <div class="feature">
                        <h2>lol</h2>
                        <p>blalbhablahs</p>
                    </div>
                </div>
            </section>
            <section class="alternate-colors">
                <p>lol</p>
            </section>
        </main>

        {#
        <section>
            {{ section.content | safe }}

            <p class="text">ggez is not meant to be everything to everyone, but rather a good base upon which to build higher-level systems and a useful tool that lets you immediately get started on projects such as game jams.  As such, it provides:</p>


            <ul class="text">
                <li>Filesystem abstraction that lets you load resources from folders or zip files</li>
                <li>Hardware-accelerated rendering engine built on the `gfx-rs` graphics engine</li>
                <li>Playing and loading .ogg, .wav and .flac files via the `rodio` crate</li>
                <li>TTF font rendering with `rusttype`, as well as bitmap fonts</li>
                <li>Interface for handling keyboard and mouse events easily through callbacks</li>
                <li>Config file for defining engine and game settings</li>
                <li>Easy timing and FPS measurement functions</li>
                <li>Math integration with <a href="http://nalgebra.org/">nalgebra</a></li>
                <li>Some more advanced graphics options: shaders, sprite batches and render targets</li>
            </ul>
            #}
            {% endblock content %}

            <footer>
                Copyright © 2018 Sven-Hendrik Haase
            </footer>
        </body>
    </html>
